.wrapper {
    display: block;
    margin-left: 60px;
}
.title {
    margin: 50px 0px 30px;
    font-size: 35px;
    font-weight: 900;
}

.btn {
    background-color: #79c9ff;
    font-size: 25px;
    border-radius: 7px;
    padding: 10px 45px 10px 10px;
    margin: 20px 0px;
}
.search {
    margin-top: 20px;
}
.text {
    font-size: larger;
    font-weight: 700;
}
.input {
    border: 2px solid #333;
    margin-right: 30px;
    margin-left: 10px;
    height: 30px;
    width: 265px;
    font-size: 15px;
    padding-left: 5px;
}

.btn-search {
    width: 130px;
    height: 40px;
    background-color: #79c9ff;
    border: solid 2px #333;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    margin: 15px 0px;
}

.page {
    float: right;
    margin-right: 20%;
    padding: 20px 0px;
}
.total {
    background-color: #fbcccc;
}
