.wrapper {
    margin-left: 60px;
    margin-top: 30px;
}
.title {
    font-weight: 900;
    font-size: 35px;
}
.attr {
    font-size: 22px;
    margin: 17px 0px;
}
.text {
    min-width: 160px;
    display: inline-block;
}
.text2 {
    font-size: 25px;
    font-weight: 400;
    margin: 15px 0px 10px;
}
.input {
    width: 455px;
    height: 36px;
    font-size: 20px;
}
.input2 {
    width: 210px;
    height: 35px;
    font-size: 20px;
    margin-left: 20px;
}
.date {
    height: 37px;
    width: 213px;
}

.btn-confirm,
.btn-cancel {
    width: 135px;
    height: 40px;
    margin-right: 50px;
    border-radius: 8px;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 700;
}
.btn-cancel {
    background-color: #f48888;
}
.btn-confirm {
    background-color: #79c9ff;
}
.select1,
.select2 {
    height: 35px;
    font-size: 20px;
    border: solid 1px #333;
    margin-right: 30px;
}
.select1 {
    width: 150px;
}
.select2 {
    width: 277px;
}
.radio {
    width: 18px;
    height: 18px;
    margin: 0px 10px;
}
